//---------------------variables-----------------------

  $white: #fff;
  $light-gray-white: #EAEAEA;
  $lighter-light-gray-white: #f9f9f9;
  $blue: #3369F3;
  $light-blue: #646cff;
  $dark-blue: #535bf2;
  $gray: #999999;
  $red: #f24a00;

